body {
    font-family: "Latin Modern Roman", "Times New Roman", Times, serif;
    font-size: 12pt;
    text-align: justify;
    line-height: 1.5;
}

h1 {
    font-weight: 600;
    margin: 1em 0em;
}

h2,
h3 {
    font-weight: 600;
    margin: 0em;
}

p[float="left"] {
    display: flex;
    flex-direction: row;
}

img {
    display: block;
    margin: 1em auto auto auto;
    max-width: 100%;
    page-break-inside: avoid;
}

figure {
    text-align: center;
    margin: 1em 0;
    page-break-inside: avoid;
}

figcaption {
    font-size: 11pt;
}

ul {
    margin-left: 1.5em;
    list-style-type: disc;
}

table {
    margin-bottom: 1em;
}
